.container{
	width:1024px !important;
}
.container .demo-wrapper1 {
    margin: 20px;
}

.container .demo-wrapper1 div {
    height: 100px;
}

.container textarea {
    width: 100%;
    height: 100%;
}

.container .btn-wrapper {
    line-height: 100px;
}

#imgData {
    height: 180px;
}